%h1 All images


.row
 %ul.list-unstyled
 -@images.each do | image |
  %li.col-md-4
   %h2= image.title
   %a{href: image.file, data: {lightbox: "gallery" , title: "caption"}}
    %img{src: image.file.url(:small), width: "100%"}
    %div.addthis_inline_share_toolbox

%h1 upload new image

%form(action="/images" method="post" enctype="multipart/form-data") 
 %p
  %input(type="file" name="image[file]" id="file")

 %p
  %input(type="text" name="image[title]" class="form-control" placehoder="enter a title for image") 

 %p
  %button(class="btn btn-primary") Upload!  