!!! 5
%html
 %head
  %meta(charset="utf-8")
  %link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
  %link(rel="stylesheer" href="/css/app.css")
  %script(src="http://code.jquery.com/jquery-2.1.4.min.js")
  %script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
 %body
  .container
  =yield
