!!! 5
%html
 %head
  %meta(charset="utf-8")
  %link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
  %link(rel="stylesheet" href="/css/app.css")
  <!-- Go to www.addthis.com/dashboard to customize your tools -->
  %script(type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57cac5b7ad46995f")

  %link(rel="stylesheet" href="/css/lightbox.css")
  %script(src="http://code.jquery.com/jquery-2.1.4.min.js")
  %script(src="  http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
  %script(src="https://code.jquery.com/jquery-3.1.0.min.js")
  %script(src="/js/lightbox.js")
  %script(src="/js/jquery-3.1.0.min.js")
 %body
  .container
  =yield
